html {
  font-size: 14px;
}

html,
body {
  height: 100%;
}

.background-js-container {
  /* background-color: white; */
  background-color: #000;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.8);
  color: whitesmoke;

  display: flex;
  padding: 5px;
  padding-left: 10px;
}

/* <Stick Footer> */
#root {
  flex: 1 0 auto;
}

.sticky-footer {
  flex-shrink: none;
}
/* </Stick Footer> */

.winning_team {
  font-weight: bold;
}

.card-body {
  padding: 0px;
}

.table {
  margin-bottom: 0;
}

a {
  /* material design copy: links are bright pink */
  color: #ff4081;
}

.container-fluid {
  /* push down navbar*/
  padding-top: 20px;
  /* so plus button isn't stuck at bottom */
  padding-bottom: 20px;
}

@media (max-width: 575px) {
  .has_posession {
    text-decoration: underline #9e9d99;
    text-decoration-style: wavy;
  }
}

@media (min-width: 20em) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 40em) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 48em) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 70em) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 95em) {
  .card-columns {
    column-count: 4;
  }
}

/* Highlight */

.flash {
  /* used to flash table row on update */
  animation: flash 1s ease-out;
  animation-iteration-count: 1;
}

@keyframes flash {
  0% {
    background-color: none;
  }
  50% {
    background-color: #ffff99;
  }
  100% {
    background-color: none;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}
